@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

#main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 2px;
  width: 350px;
}

.wrapper { 

  overflow:hidden;
  padding: 20px;
}

.wrapper div {
   min-height: 200px;
   padding: 0px;
}
#one {
  float:left; 
  margin-right:0px;
  width:40vw;

  padding: 0 48px;
}
#two { 
  overflow:hidden;
  margin:0px;
  min-height:170px;
  height: auto;
}

@media screen and (max-width: 1450px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;  
    padding: 0px 6px 24px 6px;
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.progress-bar {
  height: 30px;
  background: #7a7a7a;
  width: 0%;
}

.contact-wrapper { 

  overflow:hidden;
  padding: 20px;
}

.contact-wrapper div {
   min-height: 120px;
   padding: 0px;
}

.form-input {
  color:black;
}

#form-left {
  float:left; 
  margin-right:0px;
  width:40vw;

  padding: 0 48px;
}
#form-right { 
  overflow:hidden;
  margin:0px;
  min-height:170px;
  height: auto;
  width: 50%;
}

@media screen and (max-width: 1450px) {
  #form-left { 
   float: none;
   margin-right:0;
   width:auto;
   border:0;  
   padding: 4px 6px 32px 6px;
 }

 #form-right { 
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}
}