@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

.header {
  z-index: 1000;
}

.read-more {
  display: block;
  width: 115px;
  height: 40px;
  background: black;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  line-height: 25px;
  display: flex; /*CSS3*/
  align-items: center; /*Vertical align*/
  justify-content: center; /*horizontal align*/
}

#main-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 2px 8px 8px;
  width: 175px;
}

.mobile-banner {
  display: block;
}

.desktop-banner {
  display: none;
}

@media (min-width: 768px) {
  .mobile-banner {
    display: none;
  }

  .desktop-banner {
    display: block;
  }
}

.thumbnail {
  object-fit: cover;
  width: 120px;
  height: 92px;
  min-width: 160px;
}

.article-heading {
  font-family: "Helvetica";
  font-size: 22px;
  font-weight: 900;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-category {
  font-size: 14px;
  font-weight: 700;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #a6a6a6;
  margin-bottom: 4px;
}

.article-info {
  margin-top: 4px;
}

.a {
  font-family: helvetica, sans-serif;
}

.burger {
  width: 20px;
  height: 3.5px;
  background-color: black;
  margin: 0;
}

@media only screen and (min-width: 430px) {
  .article-heading {
    font-size: 22px;
  }
}

@media only screen and (min-width: 460px) {
  .article-heading {
    font-size: 24px;
  }
}

@media only screen and (min-width: 480px) {
  .article-heading {
    font-size: 32px;
    line-height: 32px;
  }

  .article-info {
    font-size: 16px;
    line-height: 32px;
  }

  .thumbnail {
    object-fit: cover;
    width: 130px;
    height: 98px;
    min-width: 160px;
  }
}

.wrapper {
  overflow: hidden;
  padding: 20px;
}

.wb-strip {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.wb-strip-image {
  overflow: hidden;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.wb-strip-text {
  position: absolute;
  color: white;
}

.wb-button {
  background-color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 16px;
  font-size: 14px;
}

.about-strip {
  display: flex;
  justify-content: center;
  position: relative;
}

.about-strip-image {
  overflow: hidden;
  height: 100%;
  width: 100%;
  width: auto;
  object-fit: cover;
}

.about-strip-text {
  position: absolute;
  color: white;
}

.about-button {
  background-color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 16px;
  font-size: 14px;
}
.event-card {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 240px;
  width: 135px;
}
.event-card-image-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 120px;
  border-radius: 12%;
  overflow: hidden;
  margin-left: 10px;
}
.event-card-image {
  height: 200px;
  width: 120px;
}
.event-card-description {
  margin-top: 10px;
  font-size: 16px;
}

.wrapper div {
  min-height: 200px;
  padding: 0px;
}
#one {
  float: left;
  margin-right: 0px;
  width: 40vw;

  padding: 0 48px;
}
#two {
  overflow: hidden;
  margin: 0px;
  min-height: 170px;
  height: auto;
}

@media screen and (max-width: 1450px) {
  #one {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
    padding: 0px 6px 24px 6px;
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.progress-bar {
  height: 30px;
  background: #e6007e;
  width: 0%;
}

.contact-wrapper {
  overflow: hidden;
  padding: 20px;
}

.contact-wrapper div {
  min-height: 120px;
  padding: 0px;
}

.form-input {
  color: black;
}

#form-left {
  float: left;
  margin-right: 0px;
  width: 40vw;

  padding: 0 48px;
}
#form-right {
  overflow: hidden;
  margin: 0px;
  min-height: 170px;
  height: auto;
  width: 50%;
}

@media screen and (max-width: 1450px) {
  #form-left {
    float: none;
    margin-right: 0;
    width: auto;
    border: 0;
    padding: 4px 6px 32px 6px;
  }

  #form-right {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.top-banner-button {
  border-radius: 16px;
}
